
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0 auto;
  padding: 0 20px;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
  appearance: none;
}

button:hover {
  outline: none;
}

.icon svg{
 width: 20px;
  height: 20px;
}

body.locked {
  overflow: hidden;
}